html {
  height: 100%;
}

body {
  height: calc(100% - 16px);
  background: #FFFFAA;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
}

/* Med inline-block kan dom ritas horizontalt */
nav li {
  display: inline-block;

  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

nav li, header > h1 {
  text-align: center;
}

.content {
  grid-area: main;
  padding: 0 10px 0 10px;
}

.wrapper {
  height: 100%;
  display: grid;

  grid-template-rows: 4em 4em auto 2em;

  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
}

nav li:nth-child(2n) {
  background-color: #d3d3d3;
}

nav li:nth-child(2n+1) {
  background-color: rgb(169, 169, 169);
}

/* Två spalt på historia sidan */
#history .wrapper {
  grid-template-areas:
    "header header"
    "nav nav"
    "dates main"
    "footer footer"
}

/* Tre spalt på enhets sidan */
#units .wrapper {
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "dates main price"
    "footer footer footer"
}

#history .wrapper > ol {
  grid-area: dates;
}

#history .wrapper > section {
  grid-area: price;
}